*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.outer-box{
    width: 574px;
    height: 297px;
    background-image: url(https://media.istockphoto.com/id/653953140/photo/hindu-temple-in-bali.jpg?s=612x612&w=0&k=20&c=ysj3S2kV1ZgCr4QZWDzjvHRowCI3-cR1xQNnqE8-BS4=);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 10%;
}

p{
    text-align: center;
    margin: 2%;
    padding: 2%;
}


button{
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 600;
}

h1,p{
    color:white;
    text-shadow: -1px 3px 7px black;
}

